{%extends 'awards/base.html'%}
{% load static %}
{% block content %}

<div class="container-fluid">

    <div class="col-md-12 featured" >


    </div>


    <div class="col-md-12 projects">
        <div class="row">
            {% for project in projects %}

            <div class="card m-1" style="width: 28rem;">
                <a href="{%url 'project-details' project.id %}"><img src="{{project.project_image.url}}"
                        class="card-img-top" height="350" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">{{project.title}}</h5>
                    <p class="card-text">{{project.description}}</p>
                    <p class="card-text">Published by {{project.publisher}}</p>
                </div>
            </div>

            {% empty %}
            <p>No posted projects</p>

            {% endfor %}
        </div>

    </div>






</div>

{% endblock %}