{%extends 'awards/base.html'%}
{% load static %}
{% load bootstrap5%}
{% block content %}


<div class="container-fluid details-rate-review">

  <div class="col-md-8 project-details">

    <div class="card m-1 p-d" style="width: 70rem;">
      <a href=""><img src="{{project.project_image.url}}"
              class="card-img-top" height="500" alt="..."></a>
      <div class="card-body">
        <div class="proj-description">
           <h5 class="card-title">{{project.title}}</h5>
           <p class="card-text small">Published {{project.date_published}}</p>
           <p class="card-text small fw-light">Technologies: {{project.technologies}}</p>
           <p class="card-text">{{project.description}}</p>
        </div>
         
          <div class="buttons d-flex justify-content-between">
            <a href="{%url 'userProfile' project.publisher%}">
              <button class="publisher  fw-light">
                By {{project.publisher}}
              </button>
            </a>
            <a href="{{project.project_link.url}}" target="_blank">
              <button class="publisher small fw-light">
                Project link
              </button>
            </a>

          </div>

      </div>
    </div>

    <div class="rate-review mt-5">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="#" onClick="return showRatings();">Ratings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onClick="return showReviews();">Reviews</a>
            </li>
            
          </ul>
        </div>
        <div class="card-body">
          <!-- Ratings -->
          <div id="ratings">
            <h5 class="card-title m-2">Project Ratings</h5>
            <div class="col-md-5 rates">
            <h6 class="mt-2 fw-light">Average Design</h6>
              <div class="progressDesign">
                <div class="progress-value1" style="width:50%"><span class="">{{design}}</span></div>
              </div>

              <h6 class="mt-2 fw-light">Average Usability</h6>
              <div class="progressUsability">
                <div class="progress-value2" style="width: 60%"><span>{{usability}}</span></div>
              
              </div>
              <h6 class="mt-2 fw-light">Average Content</h6>
              <div class="progressContent">
                <div class="progress-value3" style="width: 60%"><span>{{content}}</span></div>
              </div>
              
              <h6  class="mt-2 fw-light">Average Score</h6>
              <div class="progressScore">
                <div class="progress-value4" style="width: 64%"><span> {{score}}</span></div>
              </div>
              
            <!-- <button type="button" class="btn btn-primary">Design Average: {{design}}</button>
            <button type="button" class="btn btn-primary">Usability Average: {{usability}}</button>
            <button type="button" class="btn btn-primary">Content Average: {{content}}</button>          
            <button type="button" class="btn btn-primary">Average Score: {{score}}</button> -->
          </div>
            <!-- RateForm -->
            <!-- {{rating}} -->
            {% if request.user in rating %}
            
              <p>Thankyou for your rating participation</p>

          
          
            {% else %}
            <p>Not yet</p>

            {% endif %}
            <div class=" col-md-8 rateForm mt-4">
              <h6>Rate this Project</h6>

              <form action="" method="post">
                {% csrf_token %}
                  <div class="row">
                    <div class="col">
                      {{rateForm.design }}              
                    </div>
                    <div class="col">
                      {{ rateForm.usability }}              
                    </div>
                    <div class="col">
                      {{ rateForm.content }}              
                    </div>
                    <div class="col">
                      <button class="btn btn-sm btn-primary">Rate</button>                   
                    </div>
                  </div>
                </form>
                
            </div>
          </div>

          <div id="reviews">
              <!-- Review Form -->
              <div class="reviewForm ">
                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#reviewModal">Review this Project</button>

                {% include "modals/reviewModal.html" %}

                <h6>Available Reviews</h6>
                {% for review in project.reviews.all %}
                  <div class="review-details">
                     <h6 class="text-mute m-4"><a href="{%url 'userProfile' review.reviewed_by%}">{{review.reviewed_by}}</a> <span class="text-mute fw-light">{{review.reviewed_on|timesince}} ago</span></h6>
                      <p class="fw-light  m-4">{{review.review}}</p>

                  </div>
                 
                {% endfor%}


                
              </div>

          </div>
         
        </div>
      </div>
    
      

    

    </div>
    
    



  </div>






</div>

{% endblock %}