
.featured{
    height: 50rem;
    background-image: url("/static/images/ML@.jpg");
    /* background-image: url( "{% static 'images/ML.jpg' %}"); */
    background-repeat:no-repeat;
    background-size:100%;
    
}

.publish-project{
    display: flex;
    justify-content: center;
}

.publish-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* PROJECT DETAILS */
.details-rate-review{
    display: flex;
    justify-content: center;
}

.rate-review #reviews{
    display: none;
}




