{%extends "awards/base.html"%}
{% load bootstrap5 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="panel-body">

          <form action="" method="post">
            {% csrf_token %}
            <div class="info">
              <div class="form-floating mb-3 info">
                <input type="text" name="username" class="form-control username" id="floatingInput"
                  placeholder="Username">
                <label for="floatingInput">Username</label>
              </div>
              <div class="form-floating info">
                <input type="password" name="password" class="form-control email" id="floatingPassword"
                  placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-grid gap-1">
                <button class=" btn btn-primary" type="submit">Sign In</button>
              </div>
            </div>
            <div class="help">
              <div>
                <input class="form-check-input" type="checkbox" value="True" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Remember Me
                </label>
              </div>
            </div>
          </form>
          <div class="card mt-3">
            <div class="card-body signup-here">
              Don't have an account? <a href="{% url 'register' %}">Sign up</a>
            </div>
          </div>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}